<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accomodation</title>
    <style>
      body {
        margin: 0;
        font-family: "Times New Roman", Times, serif;
      }
      header {
        .navbar {
          position: sticky;
          top: 0;
          background-color: #f8f9fa;
          padding: 10px 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 1000;
          display: flex;
          justify-content: space-between;
        }
        .navbar a {
          text-decoration: none;
          color: #333;
          padding: 8px 16px;
          display: inline-block;
        }
        .navbar .nav-links {
          display: flex;
          gap: 16px;
        }
        .navbar .nav-links a:hover {
          color: #f8f9fa;
          background-color: #000;
          transition: all 0.5s ease-in-out;
          border-radius: 5px;
        }
      }
      .NameBackground {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 30vh;
        background-color: #fffff0;
        font-size: larger;
      }
      .info{
        background-color: rgb(218, 208, 194);
        margin: 20px;
        padding: 20px;
        border-bottom: 1px solid #000;
        border-radius: 10px;
      }
      .padding {
        padding: 10px;
      }
      .text-section {
        border-bottom: 1px solid #7a7a7a;
        p {
          width: 50%;
        }
      }
      .right-aligned {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding: 20px;
      }
      .footer {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      }
      .footer p {
        margin: 0;
        color: #333;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar" aria-label="Main Navigation">
        <a href="/"
          ><b><i>Ski Resort Purger</i></b></a
        >
        <div class="nav-links">
          <a href="/">Home</a>
          <a href="/accomodation">Accomodation</a>
          <a href="/">Ski Map</a>
          <a href="/">Restaurant Šveđo</a>
        </div>
      </nav>
    </header>
    <main>
      <section class="NameBackground">
        <h1>Apartmans</h1>
      </section>
      <section class="info">
        <h3>Info</h3>
        <p>
          Our accommodation offers a comfortable and relaxing stay with
          spacious rooms, modern amenities, and a breathtaking view of the
          mountains. Enjoy top-tier services and explore our ski slopes for an
          unforgettable experience.
        </p>
      </section>
      <section style="margin: 10px;">
        <section class="right-aligned text-section">
          <h3>1-bedroom</h3>
          <p>
            Our accommodation offers a comfortable and relaxing stay with
            spacious rooms, modern amenities, and a breathtaking view of the
            mountains. Enjoy top-tier services and explore our ski slopes for an
            unforgettable experience.
          </p>
        </section>
        <section class="text-section padding">
          <h3>2-bedroom</h3>
          <p>
            Our accommodation offers a comfortable and relaxing stay with
            spacious rooms, modern amenities, and a breathtaking view of the
            mountains. Enjoy top-tier services and explore our ski slopes for an
            unforgettable experience.
          </p>
        </section>
        <section class="right-aligned text-section">
          <h3>3-bedroom</h3>
          <p>
            Our accommodation offers a comfortable and relaxing stay with
            spacious rooms, modern amenities, and a breathtaking view of the
            mountains. Enjoy top-tier services and explore our ski slopes for an
            unforgettable experience.
          </p>
        </section>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2023 Ski Resort Purger. All rights reserved.</p>
    </footer>
  </body>
</html>
