<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ski Resort Purger</title>
    <link rel="stylesheet" href="style\BasicStyle.css" />
    <style>
      body {
        margin: 0;
        font-family: "Times New Roman", Times, serif;
      }
      header {
        .navbar {
          position: sticky;
          top: 0;
          background-color: #f8f9fa;
          padding: 10px 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 1000;
          display: flex;
          justify-content: space-between;
        }
        .navbar a {
          text-decoration: none;
          color: #333;
          padding: 8px 16px;
          display: inline-block;
        }
        .navbar .nav-links {
          display: flex;
          gap: 16px;
        }
        .navbar .nav-links a:hover {
          color: #f8f9fa;
          background-color: #000;
          transition: all 0.5s ease-in-out;
          border-radius: 5px;
        }
      }
      .NameBackground {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 30vh;
        background-color: #fffff0;
        font-size: larger;
      }
      .padding{
        padding: 10px           ;
      }
      .text-left{
        border-bottom: 1px solid #7a7a7a;
        p{
          width: 50%;
        }
      }
      .footer {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      }
      .footer p {
        margin: 0;
        color: #333;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar" aria-label="Main Navigation">
        <a href="/"
          ><b><i>Ski Resort Purger</i></b></a
        >
        <div class="nav-links">
          <a href="/">Home</a>
          <a href="/">Accomodation</a>
          <a href="/">Ski Map</a>
          <a href="/">Restaurant Šveđo</a>
        </div>
      </nav>
    </header>
    <main>
      <section class="NameBackground">
        <h1>Ski Resort Purger</h1>
      </section>
      <section class="text-left padding">
        <h3>Accomodation</h3>
        <p>
          Our accommodation offers a comfortable and relaxing stay with spacious
          rooms, modern amenities, and a breathtaking view of the mountains.
          Enjoy top-tier services and explore our ski tracks for an
          unforgettable experience.
        </p>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2023 Ski Resort Purger. All rights reserved.</p>
    </footer>
  </body>
</html>
